/* Navbar Styles */
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar .nav-link {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .nav-link:hover, .navbar .nav-link.active {
  color: #ffc107;
}
.navbar .btn {
  border: 2px solid #ffc107;
  color: #ffc107;
}
.navbar .btn:hover {
  background-color: #ffc107;
  color: #000;
}

/* Header Styles */
.header {
  position: relative;
  height: 100vh;
  background: url("../img/hero-bg.jpg") no-repeat center center/cover;
  color: white;
}
.header .container {
  z-index: 2;
  position: relative;
}
.header h1 span {
  color: #ffc107;
  font-weight: bold;
}
.header .btn-outline-light {
  border: 2px solid #ffc107;
  color: #ffc107;
}
.header .btn-outline-light:hover {
  background-color: #ffc107;
  color: #000;
}
.header .btn-warning {
  border: 2px solid #ffc107;
  color: #ffffff;
}
.header .btn-warning:hover {
  background-color: #ffc107;
  color: #000;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-body {
  padding: 0;
}

.play-button {
  z-index: 3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.play-button i {
  font-size: 2.5rem;
  color: #ffc107;
}
.play-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.button-common, .header .btn-outline-light,
.header .btn-warning, .navbar .btn {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ffc107;
  color: #ffc107;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-decoration: none;
}
.button-common:hover, .header .btn-outline-light:hover,
.header .btn-warning:hover, .navbar .btn:hover {
  background-color: #ffc107;
  color: #000;
  text-decoration: none;
}

.why-us {
  padding: 4rem 2rem;
  background-color: #000;
  color: #fff;
}
.why-us h3 {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
}
.why-us h2 {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffc107;
}
.why-us .row {
  display: flex;
  justify-content: space-between;
}
.why-us .card {
  background-color: #222;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  flex: 1;
  margin: 0 1rem;
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.why-us .card .number, .why-us .card h4, .why-us .card p {
  transition: color 0.3s ease;
}
.why-us .card .number {
  color: #ffc107;
}
.why-us .card:hover {
  background-color: #ffc107;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.why-us .card:hover .number, .why-us .card:hover h4, .why-us .card:hover p {
  color: #000;
  font-weight: bold;
}

.menu-section {
  text-align: center;
  width: 100%;
  background-color: #1a1814;
  padding: 50px 0;
}
.menu-section .nav .nav-link {
  color: #fff;
  font-weight: 500;
}
.menu-section .nav .nav-link:hover, .menu-section .nav .nav-link.active {
  color: #ffc107;
  font-weight: bold;
  background-color: transparent;
}
.menu-section .tab-content .tab-pane {
  display: none;
}
.menu-section .tab-content .tab-pane.active {
  display: block;
  animation: fade-in 0.5s ease-in-out;
}
.menu-section .card {
  background-color: transparent;
  border: none;
}
.menu-section .card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffc107;
}
.menu-section .card .card-title .float-end {
  color: #fff;
  font-size: 1rem;
}
.menu-section .card .card-text {
  color: #fff;
  opacity: 0.7;
}
.menu-section .card img {
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menu-section .card img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=app.css.map */
