@font-face
  font-family: 'TimesTen'
  src: url('../assets/fonts/TimesTenBold.ttf') format('truetype')
  font-weight: normal
  font-style: normal
/* Section Why Us */
.why-us-section
  background-color: #0b0705
  padding: 80px 0
  color: #ffffff

  .section-title
    margin-bottom: 3rem
    text-align: left
    gap: 1rem

    .subtitle
      display: flex
      align-items: center 
      gap: 0.5rem 

      &::after
        content: ''
        display: inline-block
        width: 120px 
        height: 1px 
        background: #cda45e
        flex-shrink: 0 // empecher 
        transform: translateY(0) 


    .main-title
      font-size: 3rem
      color: #cda45e
      font-family: 'TimesTenBold', serif

  .cards-container
    display: flex
    justify-content: space-between
    gap: 30px

    .card
      background-color: #1a1814
      padding: 2rem
      border-radius: 0px
      text-align: left
      transition: background-color 0.3s ease-in-out, transform 0.3s ease
      flex: 1
      position: relative

      &:hover
        background-color: #cda45e
        transform: scale(1.03)

        .number
          color: #ffffff

      .number
        font-size: 1.8rem
        color: #cda45e
        font-weight: bold
        transition: color 0.3s ease

      .card-title
        font-size: 1.3rem
        color: #ffffff
        margin: 1rem 0
        font-weight: bold

      .card-text
        font-size: 1rem
        color: #e6e6e6
        line-height: 1.6

/* Responsive */
@media (max-width: 1024px) // Tablette
  .cards-container
    flex-wrap: wrap

    .card
      flex: 0 0 calc(50% - 15px) // Deux col calmement 
      margin-bottom: 2rem

@media (max-width: 768px) // Mobile L
  .section-title
    .main-title
      font-size: 2rem

  .cards-container
    flex-direction: column
    gap: 20px

    .card
      flex: 1
      text-align: center