.menu
  background-color: #1a1814
  padding: 80px 0
  color: #ffffff
  font-family: Arial, sans-serif
  .section-title
    text-align: left
    margin-bottom: 50px
    h2
      font-size: 1rem
      color: #e6e6e6
      text-transform: uppercase
      margin-bottom: 5px
      display: flex
      align-items: center
      gap: 0.5rem

      &::after
        content: ''
        display: inline-block
        width: 120px
        height: 1px
        background: #cda45e
        flex-shrink: 0

    p
      font-size: 2.5rem
      font-family: serif
      color: #cda45e
      font-weight: bold

  .menu-filters
    list-style: none
    display: flex
    justify-content: center
    gap: 15px
    margin-bottom: 30px

    li
      color: #e6e6e6
      cursor: pointer
      padding: 8px 12px
      transition: color 0.3s ease, transform 0.3s ease
      font-weight: 500

      &:hover, &.filter-active
        color: #cda45e
        transform: scale(1.1)

  .menu-items
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 30px

    @media (max-width: 992px)
      grid-template-columns: 1fr

    .menu-item
      display: flex
      align-items: flex-start
      gap: 20px
      opacity: 0
      transform: scale(0.9)
      transition: opacity 0.5s ease, transform 0.5s ease

      &.fade-in
        opacity: 1
        transform: scale(1)

      .menu-img
        width: 80px
        height: 80px
        border-radius: 50%
        border: 2px solid #333
        flex-shrink: 0

      .menu-details
        flex: 1

        .menu-content
          display: flex
          align-items: center
          justify-content: space-between
          position: relative
          font-size: 1.1rem
          font-weight: bold

          .menu-title
            color: #ffffff

          .menu-dots
            flex-grow: 1
            border-bottom: 1px dotted #666
            margin: 0 10px

          .menu-price
            color: #cda45e
            font-weight: bold
            white-space: nowrap

        .menu-description
          font-size: 0.9rem
          font-style: italic
          color: #bdbdbd
          margin-top: 5px

  // Keyframes for animations (optional if needed)
  @keyframes fadeIn
    from
      opacity: 0
      transform: scale(0.9)
    to
      opacity: 1
      transform: scale(1)



.menu-item
  display: none
  opacity: 0
  transform: scale(0.9)
  transition: opacity 0.5s ease, transform 0.5s ease

  &.fade-in
    display: flex
    opacity: 1
    transform: scale(1)
