/* Navbar Styles */
.navbar
  background-color: rgba(0, 0, 0, 0.7)
  backdrop-filter: blur(5px)
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
  .nav-link
    color: #fff
    margin: 0 0.5rem
    &:hover, &.active
      color: #ffc107
  .btn
    border: 2px solid #ffc107
    color: #ffc107
    &:hover
      background-color: #ffc107
      color: #000

/* Header Styles */
.header
  position: relative
  height: 100vh
  background: url('../img/hero-bg.jpg') no-repeat center center/cover
  color: white

  .container
    z-index: 2
    position: relative

  h1
    span
      color: #ffc107
      font-weight: bold

  .btn-outline-light
    border: 2px solid #ffc107
    color: #ffc107
    &:hover
      background-color: #ffc107
      color: #000

  .btn-warning
    border: 2px solid #ffc107
    color: #ffffff
    &:hover
      background-color: #ffc107
      color: #000
.modal-content
  background-color: transparent
  border: none

.modal-body
  padding: 0

.play-button
  z-index: 3 // Assure que le bouton est au-dessus des autres éléments
  width: 70px
  height: 70px
  border-radius: 50%
  background: rgba(255, 255, 255, 0.2)
  backdrop-filter: blur(5px)
  position: absolute
  right: 5%
  top: 50%
  transform: translateY(-50%)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer // Ajoute un curseur pour montrer qu'il est cliquable
  i
    font-size: 2.5rem
    color: #ffc107
  &:hover
    background: rgba(255, 255, 255, 0.4)
