@font-face
  font-family: 'TimesTen'
  src: url('../assets/fonts/TimesTen.ttf') format('truetype')
  font-weight: normal
  font-style: normal
.navbar
  background-color: rgba(0, 0, 0, 0.7)
  backdrop-filter: blur(5px)
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)

  .navbar-nav
    text-align: center
    .nav-link
      color: #ffffff
      margin: 0 0.8rem
      transition: color 0.3s ease
      &:hover, &.active
        color: #cda45e

  .book-table-btn
    border: 2px solid #cda45e
    border-radius: 25px
    color: #ffffff
    padding: 5px 25px
    background: transparent
    transition: all 0.3s ease
    &:hover
      background-color: #cda45e
      color: #ffffff
      border: 1px solid #cda45e

  .navbar-toggler
    border: none
    outline: none

/* Section Header  */
.header
  position: relative
  height: 100vh
  background: url('../img/hero-bg.jpg') no-repeat center center/cover
  color: #ffffff

  // Flou subtil sur l'image de fond
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    backdrop-filter: blur(1px)
    background-color: rgba(0, 0, 0, 0.5)

  .container
    position: relative
    z-index: 1
    text-align: center // Par défaut centré pour les petits écrans

    h1
      font-size: 3rem
      font-weight: bold
      span
        color: #cda45e
    p
      font-family: 'TimesTen', serif
      color: #ffffff


    .hero-btn
      border: 2px solid #cda45e
      border-radius: 25px
      color: #ffffff
      padding: 10px 25px
      background: transparent
      transition: all 0.3s ease
      &:hover
        background-color: #cda45e
        color: #ffffff
        border: 1px solid #cda45e

/* Bouton Play Animé Amélioré */
.video-play-button
  position: relative
  z-index: 10
  top: 50%
  left: 80% // Position initiale pour Desktop
  transform: translate(-50%, -50%)
  display: block
  width: 94px
  height: 94px
  border-radius: 50%
  background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.5) 52%)
  overflow: hidden
  cursor: pointer
  transition: all 400ms ease

  // Cercle pulsant externe
  &::before
    content: ""
    position: absolute
    width: 120px
    height: 120px
    top: -15%
    left: -15%
    border: 5px solid rgba(205, 164, 94, 0.3)
    border-radius: 50%
    animation: pulse-border 2s infinite

  // Flèche centrale
  &::after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-40%, -50%)
    width: 0
    height: 0
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-left: 15px solid #fff
    z-index: 100
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19)

  &:hover
    transform: translate(-50%, -50%) scale(1.1) // Agrandir légèrement

    &::before
      animation: none // Stoppe l'animation du cercle externe
      background: rgba(205, 164, 94, 0.7) // Rend le fond plus opaque

    &::after
      border-left: 20px solid #fff // Agrandit légèrement la flèche
      transform: translate(-40%, -50%) scale(1.3) // Agrandit la flèche en douceur
      opacity: 1 // Maintient la visibilité

/* Animation Pulse */
@keyframes pulse-border
  0%
    transform: scale(0.6)
    opacity: 1
  100%
    transform: scale(1)
    opacity: 0

/* Responsive */
@media (max-width: 1024px) 
  .video-play-button
    left: 70% 
    top: 70%
  .header
    .container
      h1
        font-size: 2.5rem
      .hero-btn
        padding: 10px 20px

@media (max-width: 768px)
  .video-play-button
    left: 50% 
    top: 70% 

  .header
    height: 90vh 
    .container
      h1
        font-size: 2rem 
      p
        font-size: 1rem 
      .hero-btn
        font-size: 0.9rem 
        padding: 8px 16px
